*.a
*.o
*.la
*.lo
.libs
Makefile
Makefile.in
ABOUT-NLS
aclocal.m4
config.cache
config.cache-env
config.guess
config.guess.cdbs-orig
config.h
config.h.in
config.log
config.status
config.sub
config.sub.cdbs-orig
configure
data/icon.edj
data/theme.edj
debian/files
debian/*.log
debian/*.substvars
debian/*.debhelper
debian/stamp-*
debian/libemotion0-dev/
debian/libemotion0-gstreamer/
debian/libemotion0/
debian/tmp/
depcomp
doc/Doxyfile
emotion.pc
emotion.spec
install-sh
libtool
ltmain.sh
m4/libtool.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
m4/lt~obsolete.m4
missing
src/bin/emotion_test
stamp-h1
